/* Universal Selector */
* {
    font-size: 18px;
}


/* Root */
:root{
    --custom-color: #0066cc;
}

/* Full header */
header{
    display: block;
    text-align: center;
}

/* Lab header */
header #lab{
    position: sticky;
    top: 20px;
}

/* Strong text */
strong{
    color:hsl(205, 100%, 18%);
    text-decoration: underline overline;
    text-align: center;
}

/* Header emphasized text */
header em{

    padding: 10px 10px 10px 10px;
    margin: 10px 20px 20px 40px;


    border-style: solid;
    border-color: var(--custom-color,blue);
    border-width: .3em;
    border-radius: 10rem;
}

/* Navigation links */
#nav_links {
    background-color: color(srgb 20% 69% 72% / 0.5);

    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 80%;
    height: auto;

    border-style: solid;
    border-color: #005D9F;
    border-width: 3px;
    border-radius: 10px;

}

/* Links of navigation (attribute selector) */
a[href]{
    font-weight: bolder;
}

/* Paragraph selector (Pseudo-class selector) */
p:active{
    color : white;
}

/* Headers 1,3,4 (Selector list) */
h1,h3,h4 {
    font-size: 22px;
}

/* Bolded Paragraph (Descedent combinator) */
p b {
    font-size: 25px;   
}

/* Unordered list element (Child combinator) */
ul > li {
    list-style-type: square; 
}

/* Paragraph sibling of h3 header (General sibling combinator) */
h3 ~ p {
    color:rgb(0, 64, 147);
    font-size: 20px;
    font-style: italic;
}

/* h3 directly after h1 (Adjacent sibling combinator) */
h1 + h3 {
    color:hsl(219, 100%, 61%);
}

/* Div attendence (Combining two selectors) */
div.attendence{
    font-family: Poppins, sans-serif;

}

/* h1 with an adjacent h3 (New selectors) */
h1:has(~ h3) {
    color: rgb(0, 9, 84);
}

/* Nested selectors of attendence section*/
.attendence {
    font-size: 0.45cm;
    width: 80%;
    height: auto;

    border-style: solid;
    border-color: hsl(205, 69%, 65%);
    border-width: 3px;
    border-radius: 10px;

    padding: 10px 100px 50px 1in; /*  <top> <right> <bottom> <left> */
    margin: 5px 20px 20px 5px; /*  <top> <right> <bottom> <left> */

    /* Hover response */
    &:hover{
        color: blue;
    }
}

/* Agenda section */
.agenda{
    background-color: color-mix(in srgb, aqua 70%, black); 

    min-width: auto;
    max-width: 1000px;
    width: 80%;
    height: auto;

    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 1in;
    padding-right: 100px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;

    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

/* Agenda section hover */
.agenda:hover{
    background-color: rgb(0, 64, 147); 
    color: white;
}

/* Question section */
.questions{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid rgb(6, 66, 94);
    border-radius: 5px; 
}

/* Full Diagram section */
.diagrams{
    display: inline-block;
    width: 450px;
    height: 1750px;

    border-style: solid;
    border-color: aqua;
    border-width: 3px;
    border-radius: 10px;

    padding: 10px 10px 10px 10px; /*  <top> <right> <bottom> <left> */
    margin: auto;
}

/* Diagram Images*/
.diagrams img {
    width: 400px;
    height: auto;
    margin: 0px 15px;
    border-radius: 5px;
}

/* 1st Paragraph Presentation Section */
.presentations p:nth-child(1) {
    grid-area: route-running;
}

/* 2nd Paragraph Presentation Section */
.presentations p:nth-child(2) {
    grid-area: catching-ability;
}

/* 3rd Paragraph Presentation Section */
.presentations p:nth-child(3) {
    grid-area: yac-ability;
}

/* Presentation section */
.presentations{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "route-running catching-ability yac-ability";
 
    column-gap: 20px;

    border-style: solid;
    border-color: hsl(205, 69%, 65%);
    border-width: 3px;
    border-radius: 10px;
    
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;

}

/* Presentation section clicked */
.presentations:active{
    background-color: black;
    color: white;
}

/* Full recording section */
.recordings{
    text-align: center;
    width: 400px;
    height: 400px;

    border: 3px solid rgb(6, 66, 94);

    margin: auto;

}

/* Video recording */
.recordings video{
    width: 400px;
    height: auto;
    margin: auto;

}

/* Footer */
footer{
    position: fixed;
    bottom: 0px;
}

/* Footer horizontal line */
footer hr{
    position: fixed;
    bottom: 30px;
    width: 100%;
}

/* Form section */
.form{
    display: none;
}

/* Media Query */
@media screen and (min-width: 1300px) {
    *{
        font-size: 32px;
    }
    .recordings{
        width: 80%;
        height: auto;
    
    }
    .recordings video{
        width: 80%;
    }
    .recordings audio{
        width: 60%;
    }

    footer hr{
        bottom: 60px;
    }
}