/* Root */
:root{
    --custom-color: #0066cc;
}

/* Full header */
header{
    display: block;
    text-align: center;
}

/* Lab header */
header #lab{
    position: sticky;
    top: 20px;
}

/* Header strong text */
header strong{
    color:hsl(205, 100%, 18%);
    text-decoration: underline overline;
    text-align: center;
}

/* Header emphasized text */
header em{

    padding: 10px 10px 10px 10px;
    margin: 10px 20px 20px 40px;


    border-style: solid;
    border-color: var(--custom-color,blue);
    border-width: .3em;
    border-radius: 10rem;
}

/* Navigation links */
#nav_links {
    background-color: color(srgb 20% 69% 72% / 0.5);

    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    max-width: 150px;
    height: 170px;

    border-style: solid;
    border-color: #005D9F;
    border-width: 3px;
    border-radius: 10px;

    padding: 10px 10px 10px 10px; /*  <top> <right> <bottom> <left> */
    margin: 5px 40vw 20px 40vw; /*  <top> <right> <bottom> <left> */
}

/* Attendence section */
.div_attendence {
    font-family: Bebas Neue, sans-serif;
    font-size: 17px;
    width: 4cm;
    height: 4cm;

    border-style: solid;
    border-color: hsl(205, 69%, 65%);
    border-width: 3px;
    border-radius: 10px;

    padding: 10px 100px 50px 100px; /*  <top> <right> <bottom> <left> */
    margin: 5px 20px 20px 125px; /*  <top> <right> <bottom> <left> */
}

/* Attendance section clicked */
.div_attendence:active{
    background-color: black;
    border-color: black;
    color: white;
}

/* Agenda section */
.div_agenda{
    background-color: color-mix(in srgb, aqua 70%, black); 

    min-width: 550px;
    width: 30%;
    height: 400px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 1in;
    padding-right: 100px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;

    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 20px;
}

/* Agenda section hover */
.div_agenda:hover{
    background-color: rgb(0, 64, 147); 
    color: white;
}

/* Question section */
.div_questions{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid rgb(6, 66, 94);
    border-radius: 5px; 
}

/* Full Diagram section */
.div_diagrams{
    display: inline-block;
    width: 450px;
    height: 1700px;

    border-style: solid;
    border-color: aqua;
    border-width: 3px;
    border-radius: 10px;

    padding: 10px 10px 10px 10px; /*  <top> <right> <bottom> <left> */
    margin: auto;
}

/* Diagram Images*/
.div_diagrams img {
    width: 400px;
    height: auto;
    margin: 0px 15px;
    border-radius: 5px;
}

/* 1st Paragraph Presentation Section */
.div_presentations p:nth-child(1) {
    grid-area: route-running;
}

/* 2nd Paragraph Presentation Section */
.div_presentations p:nth-child(2) {
    grid-area: catching-ability;
}

/* 3rd Paragraph Presentation Section */
.div_presentations p:nth-child(3) {
    grid-area: yac-ability;
}

/* Presentation section */
.div_presentations{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "route-running catching-ability yac-ability";
 
    column-gap: 20px;

}

/* Full recording section */
.div_recordings{
    text-align: center;
    width: 400px;
    height: 400px;

    border: 3px solid rgb(6, 66, 94);

    margin: auto;

}

/* Video recording */
.div_recordings video{
    display: grid;
    width: 400px;
    height: auto;

}

/* Footer */
footer{
    position: fixed;
    bottom: 0px;
}

/* Footer horizontal line */
footer hr{
    position: fixed;
    bottom: 30px;
    width: 100%;
}

/* Form section */
.div_form{
    display: none;
}